---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const { src, showText } = Astro.props;
const {
  logo,
  logo_text,
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_text: string;
  logo_width: string;
  logo_height: string;
  title: string;
} = config.site;

const text = logo_text;
const logoSrc = src || logo;
---

<a href="/" class="navbar-brand flex flex-row items-center ml-0">
  {
    logoSrc ? (
      <Image
        class="h-16 w-auto mx-0"
        src={logoSrc}
        alt={title}
        width={Number(logo_width)}
        height={Number(logo_height)}
      />
    ) : null
  }

  {
    showText === true && (
      <p class="text-text text-xl md:text-3xl font-bold ml-2">
        {text ? text : logo_text}
      </p>
    )
  }
</a>
