---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const faq = await getEntry("faq", "index");
const { Content } = await faq.render();
---

<Base
  entry_keys={["faq", "index"]}
>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={faq.data} />
    </div>
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
